.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 670px;
  box-sizing: border-box;
  height: 436px;
  border-radius: 20px;
  width: 496px;
}

.modal__content_type_image {
    height: 610px;
}

.modal__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  background: transparent url("../../assets/Close.svg");
  opacity: 100%;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  cursor: pointer;
}

.modal__close:hover {
  transition: all 0.2s;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  max-width: 440px;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 24px;
}

.modal__label_type_radio {
  margin-bottom: 8px;
  color: #00000080;
}

.modal__label_type_radio:hover {
  color: #000000;
}

.modal__label_type_radio:checked {
  color: #000000;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid #000000;
  margin-top: 8px;
  width: 100%;
  cursor: pointer;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding: 0;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__legend {
  margin-bottom: 12px;
  font-size: 16px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  line-height: 20px;
}

.modal__radio-input {
  margin: 0 8px 0;
  cursor: pointer;
}

.modal__radio-input:checked + span {
  opacity: 1;
  accent-color: black;
}

.modal__radio-input:not(:checked) {
  opacity: 50%;
}

.modal__radio-input:checked ~ .modal__label_type_radio {
  color: #000000;
  opacity: 1;
}

.modal__submit {
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 1);
  gap: 0;
  max-width: 124px;
  line-height: 20px;
  cursor: pointer;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}
